# Kernel + WiFi
# Usage: idf.py -DSDKCONFIG_DEFAULTS="sdkconfig.defaults.wifi" build
CONFIG_IDF_TARGET="esp32c3"
CONFIG_ESP_MAIN_TASK_STACK_SIZE=4096
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
# CONFIG_ESP_CONSOLE_UART_DEFAULT is not set
CONFIG_ESP_CONSOLE_SECONDARY_NONE=y

CONFIG_MTK3_KERNEL_WIFI=y
CONFIG_LWIP_ENABLE=y
